<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <title>ALT Legal</title>
</head>
<header>
  <a href="/"><img src="images/logo_2x.png"></a>
  {{#if user}}
    Welcome {{user.name}}!
    <a href='/logout'>Logout</a>
  {{else}}
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
  {{/if}}
</header>
<body>
{{{body}}}
</body>
</html>
