<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <title>ALT Legal</title>
</head>
<header>
  <a href="/"><img src="images/logo_2x.png"></a>
  <a href="/signup">Signup</a>
  <a href="/login">Login</a>
</header>
<body>
{{{body}}}
</body>
</html>
