* {
  margin: 0px;

}

nav {
  border-bottom: solid 1px transparent;
  border-color: #afafad;
  border-width: 0 0 1px;
}
a {
  text-decoration: none
}
nav a {
  text-transform: uppercase;
  font-size: 14px;
  padding: 0;
  margin-right: 27px;
  color: #494947;
  line-height: 27px;
}
.nav-links a {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  vertical-align: middle;
}
.nav-links a:hover{
  color: #189f8c;
  outline: 0;
  border-bottom: 4px solid #189f8c;
}
.nav {
  margin-left: 10%;
  margin-top: 28px;
  margin-bottom: 28px;
}
.nav .login {
  float: right;
  margin-right: 10%;
  padding: 9px 9px 9px;
  border-radius: 3px;
  background-color: #189f8c;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  line-height: 1;
  border: 1px solid transparent;
}
.nav .login:hover{
  border: 1px solid #189f8c;
  background-color: #1aac98;
  color: white;
  outline: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 62, 53, 0.25);
}
.oliver-container {
  background-image: url('/images/oliver-xl.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 388px;
}
.login-container {
  font-family: 'Montserrat', sans-serif;
  color: #333A39;
  text-align: center;
  margin-top: 70px;
}
.login-container img {
  height: 100px;
}
.tweets {
  height: 480px;
  width: 350px;
  border: 1px #333A39 solid;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
}
.tweets h3 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px black solid;
  font-weight: bolder;
}
.tweets li {
  margin-left: 15px;
  margin-right: 15px;
}
.tweets button {
  text-align: center;
  margin-top: 12px;
  margin-left: 30%;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  border: 1px #333A39 solid;
  padding: 14px 26px;
  background-color: white;
}
.tweet-text-container {
  height: 338px;
  width: 350px;
  overflow: auto;
  margin-top: -9px;
}
.errors-container {
  font-family: 'Montserrat', sans-serif;
  color: #333A39;
  width: 300px;
  height: 60px;
  margin: 30px auto;
  background-color: #BE1413;
  border: 1px #333A39 solid;
}
.errors-container h2 {
  margin-top: 14px;
  margin-left: 37%;
}
.tweets-container {
  font-family: 'Montserrat', sans-serif;
  color: #333A39;
  margin-top: 40px;
  text-align: center;
}
.tweets-container form label {
  font-family: 'Montserrat', sans-serif;
  color: #333A39;
  margin-top: 40px;
  text-align: center;
}
.delete-button {
  display: inline-block;
}
